@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --color-bg-light: #f9fafb;
  --color-bg-dark: #101011;
  --color-text-light: #111827;
  --color-text-dark: #f9fafb;
  --color-muted-light: #6b7280;
  --color-muted-dark: #a1a1aa;
  --color-border-light: #e5e7eb;
  --color-border-dark: #2a2a2e;
  --color-surface-light: #ffffff;
  --color-surface-dark: #18181b;
}

button {
  cursor: pointer !important;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}
.logo {
  font-family: "Noto Sans JP", sans-serif;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
